.we-width-220 {
  width: 220px;
}

.we-width-460 {
  width: 460px;
}

.we-width-2 {
  width: 2px;
}

.we-width-4 {
  width: 4px;
}

.we-width-6 {
  width: 6px;
}

.we-width-8 {
  width: 8px;
}

.we-width-10 {
  width: 10px;
}

.we-width-12 {
  width: 12px;
}

.we-width-14 {
  width: 14px;
}

.we-width-16 {
  width: 16px;
}

.we-width-18 {
  width: 18px;
}

.we-width-20 {
  width: 20px;
}

.we-width-50 {
  width: 50px
}

.we-width-100 {
  width: 100px
}

.we-width-200 {
  width: 200px
}

.we-width-300 {
  width: 300px
}

.we-width-400 {
  width: 400px
}

.we-width-500 {
  width: 500px
}

.we-width-600 {
  width: 600px
}

.we-width-100pc {
  width: 100%;
}

.we-height-2 {
  height: 2px;
}

.we-height-4 {
  height: 4px;
}

.we-height-6 {
  height: 6px;
}

.we-height-8 {
  height: 8px;
}

.we-height-10 {
  height: 10px;
}

.we-height-12 {
  height: 12px;
}

.we-height-14 {
  height: 14px;
}

.we-height-16 {
  height: 16px;
}

.we-height-18 {
  height: 18px;
}

.we-height-20 {
  height: 20px;
}

.we-height-50 {
  height: 50px
}

.we-height-100 {
  height: 100px
}

.we-height-200 {
  height: 200px
}

.we-height-300 {
  height: 300px
}

.we-height-400 {
  height: 400px
}

.we-height-500 {
  height: 500px
}

.we-height-600 {
  height: 600px
}

.we-height-100pc {
  height: 100%;
}