.wrapper {
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;

  .box {
    overflow: hidden;
    box-shadow: 1px 0 1px $borderColor;
    border-radius: 2px;
  }

  .content {
    max-height: 100%;
    overflow: hidden;
  }
}