.home-leftside {
  width: 250px;
  height: 100%;
  transition: all .4s;
  box-shadow: 1px 1px 1px $borderColor;
  overflow: hidden;

  .leftside-nav {
    padding: 12px 18px;
    box-sizing: border-box;

    img {
      width: 22px;
      height: 22px;
      transition: all .4s;
    }

    .img-active {
      transform: rotate(180deg);
    }
  }

}

.leftside-active {
  width: 66px;
}